<!-- <app-create-bug (createEvent)="addBug($event)"></app-create-bug> -->
<h3 class="mt-3">Student list</h3>
<div class="spinner-border" role="status" *ngIf="showSpinner" >
  <span class="sr-only">Loading...</span>
</div>
<ul class="list-group" *ngIf="!showSpinner">
  <li class="list-group-item" *ngFor="let b of bug">
    <div class="row">
      <div class="col-3"><span class="badge badge-primary">{{s.id}}</span></div>
      <div class="col-3">{{b.titre}} </div>
      <div class="col-3">{{b.etat}}</div>
      <div class="col-3 d-flex justify-content-end">
      </div>
    </div>
  </li>
</ul>